#canvas {
   border: 5px solid whitesmoke;
   height: 500px;
   width: 1000px;
   margin-bottom: 2em;
   margin-top: 2em;
}

#container {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center; /* Centers items horizontally */
   justify-content: center; /* Centers items vertically */
   text-align: center;
}

button {
   background-color: lightgray;
   color: black;
   border: 3px solid whitesmoke;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-size: 1em;
   font-weight: 200;
}

body {
   background-color: #0d0d0d;
   color: white;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   text-align: center;
}

h1 {
   font-size: 2em;
   margin-bottom: 0.5em;
}

p {
   font-size: 1.2em;
   font-weight: bold;
   margin: 0.1em;
}

/* Popup container - can be anything you want */

/* To make the popup appear below the button, adjust .popup .popuptext: */
.popup .popuptext {
   visibility: hidden;
   width: 600px;
   min-height: 220px;
   background-color: #555;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 200px 200px;
   position: absolute;
   z-index: 1;
   top: 125%;         /* Position below the button */
   left: 50%;
   margin-left: -300px;
}

/* Popup arrow - point up */
.popup .popuptext::after {
  content: "";
  position: absolute;
  bottom: 100%;       /* Arrow at the top of the popup */
  left: 50%;
  margin-left: -225px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
   visibility: hidden;
   width: 600px;
   background-color: #555;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;

}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

a:hover {
   text-decoration: none;
}

a:active {
   color: none;
   text-decoration: none;
}

input {
   width: 150px;
   padding: 10px;
   margin: 8px 0;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   font-family: 'Courier New', Courier, monospace;
   font-size: .8em;
}